@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../tailwind.config.js";

@import "./css/hover.css";
@import "./css/typography.css";

html {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: underline;
}

a:hover,
.prose a:active {
  color: var(--tw-prose-active-links);
}

h1 a,
h2 a {
  font-weight: bold;
  text-decoration: none;
}

h1 a:hover,
h1 a:active,
h2 a:hover,
h2 a:active {
  text-decoration: underline;
}
