@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../tailwind.config.js";
/* Tell Tailwind to search this package for class-names to compile into the build */
@source "../node_modules/myst-to-react/";

@import "./css/hover.css";
@import "./css/typography.css";

html {
  font-family: Arial, sans-serif;
}

@layer utilities {
  .scroll-edge {
    padding-left: calc(100vw - 100%);
  }
  .max-width {
    max-width: calc(1110px + 17em);
    width: 100vw;
    margin: 0 auto;
    padding: 0 0.67em;
  }
}

a {
  text-decoration: underline;
}

a:hover,
.prose a:active {
  color: var(--tw-prose-active-links);
}

h1 a,
h2 a {
  font-weight: bold;
  text-decoration: none;
}

h1 a:hover,
h1 a:active,
h2 a:hover,
h2 a:active {
  text-decoration: underline;
}
