name: Get Repo Info

# Run every night at midnight or when button clicked
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  get-info-and-push:
    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20.5.1"

      - name: Install deps
        run: |
          npm install @actions/core
          npm install @actions/github
          npm install utf8
          npm install prettier

      - name: Get Repo Info
        run: |
          node src/lib/scripts/GetRepoInfo.js ${{ secrets.GITHUB_TOKEN }}
          npx prettier --plugin-search-dir ./static/json --write ./static/json

      - name: Commit Repo Changes
        run: |
          git config --local user.email "q2d2.noreply@gmail.com"
          git config --local user.name "q2d2"
          git add .
          git commit -m "Updated Repo Info"
          git push
